
*{
    font-family: DM Sans;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: var(--whiteclr--);
    text-decoration: var(--nonepropery--);
    white-space: var(--nonepropery--);
}

:root{
    --greyclr--: #191919;
    --blueclr--: #118DA8;
    --whiteclr--: #FFFFFF;
    --whiteclrdark--: #FFFFFFB2;
    --blackclr--: #000000;
    --nonepropery--:none;
    --activebtn--: rgb(202, 72, 72);
    --onclick--:red;
    --hovercolor--: rgb(69, 145, 185);
}

html,
body{
    font-size: 22px;
}

body{
    background-color: var(--greyclr--);
}

.wrapper{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 30px;
}

.btn-up {
    position: fixed;
    background-color: var(--blueclr--);
    right: 20px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
  }

  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }

  .btn-up_hide {
    display: none;
  }

.header{
    margin-bottom: 50px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo-link{
    margin-right: 50px;
}

.nav-list {
    display: flex;
}
.nav-item {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 50px;
    height: max-content;
}
.nav-link {
    transition: .2s ease;
    &:hover{
        color: var(--blueclr--);
    }

    &:active{
        color: var(--activebtn--);
    }
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-bottom-img {
    width: 45%;
}

.header-title {
    max-width: 526px;
    margin-bottom: 50px;
}
.header-title-first {
    max-width: 526px;
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3.200000047683716px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.header-first-img{
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 370px;
}

.header-title-last {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 3.200000047683716px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.header-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
}
.header-apps-list {
    display: flex;
}
.header-apps-item {
    padding-right: 20px;
}


.news-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-title {
    font-size: 64px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.880000114440918px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    overflow: hidden;
}
.button {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: var(--blueclr--);
    padding: 15px 30px;
    border:none;
    border-radius: 5px;
    transition: .2s ease;
    margin: 20px;

    &:active{
        background-color: var(--activebtn--);
    }

    &:hover{
        background-color:var(--hovercolor--);
    }
}

.episode-article {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: var(--blackclr--);
    padding: 50px;
    border-radius: 50px;
    align-items: center;
    margin: 50px 0 0 0 ;
}
.news-article-img {
    width: 35%;
}
.article-rigth-part {
    padding: 50px;
    height: max-content;
}
.article-mini-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: rgba(128, 128, 128, 0.219);
    padding: 5px 15px;
    border-radius: 5px;
}
.article-title {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--blueclr--);
    margin-top: 50px;
    margin-bottom: 30px;
}
.article-main-title {
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.559999942779541px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 701px;
    overflow: hidden;
    margin-bottom: 30px;

}
.article-lower-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--whiteclrdark--);
    max-width: 757px;
    margin-bottom: 20px;
}
.article-button {
    margin: 0;
}


